import(methods)
importFrom(graphics, abline, axis, barplot, legend, mtext, par, plot,
           points, polygon)
importFrom(grDevices, heat.colors)
importFrom(stats, model.matrix, model.offset, model.response,
           model.weights, pchisq, qbeta, qchisq, terms)
importFrom(survival, cluster, strata, untangle.specials)
importFrom(utils, download.file, flush.console, head, read.table)

exportClasses(snp.matrix, X.snp.matrix, snp, X.snp, snp.dprime,
              snp.reg.imputation, snp.tests.single, snp.tests.single.score,
              snp.tests.glm)
exportMethods(cbind2, chi.squared, deg.freedom, effect.sign, is.na, ld.with,
              names, pool2, p.value, rbind2, show, summary, switch.alleles,
              plot, sample.size, effective.sample.size,
              "[", "[<-", coerce, initialize)
export(epsout.ld.snp, filter.rules, glm.test.control, ibs.stats, ibsCount,
       ibsDist, impute.snps, imputation.maf, imputation.r2, imputation.nsnp,
       ld.snp, ld.with, misinherits,
       niceprint, pair.result.ld.snp, plot.snp.dprime, pool,
       print.snp.dprime, qq.chisq, read.HapMap.data, read.pedfile.info,
       read.pedfile.map, read.plink, 
       read.snps.chiamo, read.snps.long, read.snps.pedfile,
       read.wtccc.signals, row.summary, col.summary,
       single.snp.tests, snp.cbind, snp.rbind,
       snp.cor, snp.imputation, snp.lhs.tests, snp.post, snp.pre,
       snp.rhs.tests, tdt.snp,
       test.allele.switch, write.snp.matrix,
       xxt)
