exportClasses(snp.matrix, X.snp.matrix, snp, X.snp, snp.dprime)
exportMethods(cbind2, is.na, ld.with, rbind2, show, summary,
              "[", "[<-", coerce, initialize)
export(epsout.ld.snp, glm.test.control, ibs.stats, ibsCount, ibsDist, ld.snp,
       ld.with, niceprint, pair.result.ld.snp, plot.snp.dprime,
       print.snp.dprime, qq.chisq, read.HapMap.data, read.pedfile.info,
       read.snps.chiamo, read.snps.long, read.snps.long.old, read.snps.pedfile,
       read.wtccc.signals, row.summary, single.snp.tests, snp.cbind, snp.rbind,
       snp.cor, snp.lhs.tests, snp.post, snp.pre,
       snp.rhs.tests, write.snp.matrix, xxt)
importFrom(survival, untangle.specials, cluster, strata)
export(convert.snpMatrix, convert.snpMatrix.dir)
useDynLib(chopsticks)
